@media screen and (max-width:400px){
    .formmedia{
      width:max-content;
      padding-bottom:332%;
    }

    }

    .UDbtn{
        box-shadow: 2px 3px 4px 2px #555;
        text-shadow: 4px 2px 3px #555;
        font-weight: 500;
    }
    
    .UDbtn:hover{
        font-weight: 900;
    }

.openmodal{   
    
     /* background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2ae72ab8-4881-4c31-967f-168da78b0f8b/d4j652p-05eb92ae-6246-436f-a615-183818a37d59.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJhZTcyYWI4LTQ4ODEtNGMzMS05NjdmLTE2OGRhNzhiMGY4YlwvZDRqNjUycC0wNWViOTJhZS02MjQ2LTQzNmYtYTYxNS0xODM4MThhMzdkNTkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.uFa5Ha_b4Hegr78Kl_FEJSQN-5ZjLQ7pkakMtFnCJuQ");
    padding-bottom: 30%; */
    margin-bottom : 10px;
    padding-top: 3%;        
    animation-name:Onextanimate;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    }
    
    @keyframes Onextanimate{
    0% {
        opacity:0;
    transform: translateY(-100px);
    }
    
    20% {
        opacity:1;
    transform: translateY(100px);
    }
    
    }
 
.openmodal:hover{
    color:white;
    }


    .inputbox{
        margin-left: 10px;
        border-radius: 8px;
        margin-bottom : 10px;
        font-weight: bolder;
        box-shadow: 2px 3px 4px 2px #555;
        text-align: center;
    }
     


    .btnclose{
        border-radius: 10px;
        margin-bottom : 10px;
        font-weight: bolder;
        margin-left: 10px;
        box-shadow: 2px 3px 4px 2px #555;
    }
     
    .btnclose:hover{
        color:white;
        font-weight:1000;
        }


    .Fnextbtn{
        border-radius: 10px;
        box-shadow: 2px 3px 4px 2px #555;
        padding: 6px ;
        font-weight: bolder;
        margin-left:95%;
        margin-top:-30px;
      
        animation-name:Fnextanimate;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        }
        
        @keyframes Fnextanimate{
        0% {
            opacity:0;
        transform: translateX(-100px);
        }
        
        20% {
            opacity:1;
        transform: translateX(50px);
        }
        
        }
      
        .Fnextbtn:hover{
          color:white;
          font-weight:1000;
          }
      
          
      .Fpreviousbtn{
        border-radius: 10px;
        box-shadow: 2px 3px 4px 2px #555;
        padding:6px ;
        font-weight: bolder;
        margin-right:90%;
        margin-top: 10px;
      
        animation-name:TPnextanimate;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        }
        
        @keyframes TPnextanimate{
        0% {
            opacity:0;
        transform: translateX(100px);
        }
        
        20% {
            opacity:1;
        transform: translateX(-50px);
        }
        
        }
      
        .Fpreviousbtn:hover{
          color:white;
          font-weight:1000;
          }

          

          .tablebtn{
            box-shadow: 2px 3px 4px 2px #555;
            font-weight: bolder;

            animation-name:FTnextanimate;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            }
            
            @keyframes FTnextanimate{
            0% {
                opacity:0;
            transform: translateY(100px);
            }
            
            20% {
                opacity:1;
            transform: translateY(-50px);
            }
            
            }

  